<h1>Allergy Assessor</h1>
  <form action="/allergies">
    <div class ="form-group">
      <label for="score">Enter in a allergy score</label>
      <input id="score" name="score" class="form-control" type="number">
    </div>
    <button type="submit" class="btn-success">Send</button>
  </form>
